@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat+Alternates:wght@500&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    background:url("https://images.unsplash.com/photo-1596367407372-96cb88503db6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid black;
    padding: 20px;
    background-attachment: fixed;

    
}
/* descendant selector - space is the ancestor-descendant combinator*/
#go a{
    font-size: 20px;
    margin: 20px 20px;
    border: 2px solid black ;
    padding: 5px 10px;
    position: relative;
    left: 40%;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}
#go a:hover{
    border:3px solid black;
    background-color: black;
    color: bisque;
}

#go a:active{
    background-color: rgb(49, 47, 47);
    border:3px solid rgb(49, 47, 47);
}
a:first-child{ /*include parent also*/
    color: rgb(73, 71, 71);
}

p :first-child{/*only include child*/
    color: blueviolet;
}

/* child selector - > is the parent-child combinator */
#combinator > p{
    border: 4px dotted black;
    padding:10px 10px;
    font-size: 15px;
}
/* no spaces */
section#combinator p:hover{
    background-color: blanchedalmond;
    cursor: not-allowed;
}

#border-1 {
    border: 10px outset pink;
    outline: 10px solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    margin: 2rem;
    padding:1rem;
    width: 50%;
    margin-left: 20%;
    margin-bottom: 60px;
    outline-offset: 10px;
    font-weight: bold;
  }
  #element-1{
    background-color: aqua;
    padding: 20px;
  }
  div:nth-of-type(5){
      border: 2px solid ;
      padding: 10px;
  }
  div:nth-of-type(5) p:nth-of-type(1){
      font-weight: bolder;
      color: rgb(94, 76, 80);

  }
  div:nth-of-type(5) p:nth-of-type(2){
    font-style: italic;
    color: rgb(94, 76, 80);

}
div:nth-of-type(5) p:nth-of-type(3){
    text-decoration: underline;
    color: rgb(94, 76, 80);

}
div:nth-of-type(5) p:nth-of-type(4){
    text-decoration: overline;
    color: rgb(94, 76, 80);

}
div:nth-of-type(5) p:nth-of-type(5){
    text-decoration: line-through;
    color: rgb(94, 76, 80);

}
div:nth-of-type(5) p:nth-of-type(6){
    text-transform: uppercase;
    color: rgb(94, 76, 80);
}
div:nth-of-type(5) p:nth-of-type(7){
    text-align:right;
    color: rgb(94, 76, 80);
}
div:nth-of-type(5) p:nth-of-type(8){
    height: 100px;
    border: 1px solid;
    overflow: auto;/*hidden, scroll, overflow y or x*/
    resize:vertical;/*horizontal, both*/
    color: rgb(94, 76, 80);
    word-wrap: break-word;/*for horizontal overflow*/

}
div:nth-of-type(6) a {
        font-size: 20px;
        margin: 20px 20px;
        border: 2px solid black ;
        padding: 5px 10px;
        margin-left: 42%;
        border-radius: 8px;
        text-decoration: none;
        color: black;
}
div:nth-of-type(6) a:hover{ 
    border:3px solid black;
    background-color: black;
    color: bisque;
}
div:nth-of-type(6) a:active{
    background-color: rgb(49, 47, 47);
    border:3px solid rgb(49, 47, 47);
}
#js-1{
    font-size: 2em;
    text-shadow: 6px 6px 6px rgb(90, 90, 90);
    font-family: "Audiowide", sans-serif;
}
#inst li{
    line-height: 2em;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
}
#js-3{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight:bold;
}
#code{
    display: flex;
}

#size{
    align-self: flex-end;

}
@media (max-width: 800px) {
    #code {
      flex-direction: column;
    }
  }
.out{
    display:inline-block;  
    align-self: flex-start;
    margin: 20px;
}
